body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.app {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.nav-container {
  gap: 2rem;
  display: flex;
}

.divider {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: #06c;
  font-weight: 700;
}

.meme-form {
  display: block;
  margin-bottom: 1.5rem;
}

.meme-form-label {
  display: block;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 0.5rem;
}

.meme-form-input {
  height: 2.75rem;
  font-size: 1.25rem;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0 0.5rem;
  width: 40vw;
  max-width: 640px;
}

.search {
  display: flex;
  background-color: #fbcc48;
  padding: 0.725rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.search-input {
  display: inline-block;
  flex-grow: 1;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

.search-button {
  padding: 0.5rem 1.5rem;
  background-color: #d87e01;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.search-button:active {
  background-color: #aa6401;
}

.photo {
  height: 175px;
  width: 250px;
  background-color: gray;
  border-right: 1px solid #ffc041;
}

.listings {
  width: 100%;
}

.listings> :not(:last-child) {
  margin-bottom: 1rem;
}

.listing {
  display: flex;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #ffc041;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.details-container {
  padding: 1rem;
  background-color: #fffae5;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.bid-button {
  padding: 1rem 2rem;
  background-color: #007acd;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.bid-button:active {
  background-color: #004d80;
}

.end-time {
  color: gray;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

@media screen and (max-width:1024px) {
  .app {
    margin: 1rem;
  }
  .meme-form-input { 
    width: 100%;
    padding: 1rem;
  } 
}
  @media screen and (max-width:768px) {
    header {
      flex-direction: column;
      gap: 1rem;
    }
  }